<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>processing</string>
		<string>bluetooth-peripheral</string>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ptchampion.syncWorkouts</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>PT Champion needs access to your health data to sync workouts and fetch heart rate data from Apple Watch.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>PT Champion will save your workout data to HealthKit to keep your fitness history up to date.</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
